@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

/* movil first 0px - 500px */

.bkc {
    background-color: #523A34;
}

header {
    padding: 20px;
    font-size: large;
    display: grid;
    justify-content: center;
    background-color: #B87D4B;
}

main {
    background-color: #E5B25D;
}

body {
    font-family: 'poppins', sans-serif;
    text-align: center;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    padding: 3em;
    margin-bottom: 0;
    background-color: #F2DD6E;
}

img{
    border: 10px double #250902;
}
.img-footer{
    border: none;
}

.info-foto{
    display: flex;
    padding: 10px;
    margin-right: 40px;
    margin-left: 40px;
    background-color: #CD8B76;
    border: 10px outset #FCF6B1;
    align-items: center;
    justify-content: space-around;
}

.img-txt{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* decoracion menu */

.imagencartel {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.textoinicio {
    margin: 30px 100px 30px 100px;
}

.parrafo1inicio {
    text-align: center;
    font-size: xx-large;
}

.parrafo2inicio {
    text-align: center;
    font-size: xx-large;
    margin: 30px;
    border: 10px double chocolate;
}

.color-boton{
    background-color: #DD9787;
}

/* fin decoracion menu */

/* decoracion direccion */

.imgcartel {
    display: flex;
    justify-content: center;
}

.titulodir{
    text-align: center;
    text-transform: capitalize;
    font-size: xx-large;
    text-decoration: underline;
}

.textodir{
    text-align: center;
    text-transform: uppercase;
    margin: 20px 600px;
    padding: 10px 5px 10px 5px;
    border: 10px double chocolate;
}

/* declaracion de grids */

.imgcartel {
    grid-area: imgcartel;
}

.titulodir {
    grid-area: titud;
}

.textodir {
    grid-area: textod;
}

/* fin de declaracion */

.direc {
    display: grid;
    grid-template-areas:
        "imgcartel"
        "titud"
        "textod";
}

/* fin decoracion direccion */

/* decoracion gustos */

/* fin decoracion gustos */



/*decoracion potes*/

/* decoracion tortas */

/* fin decoracion tortas */
